<%= header(1, "Show me all cats") %>

<%= erb :form %>

<div class="cats">
<% each_ball_cat do |rarity, cats| %>
  <%= header(1, rarity) %>
  <ol>
    <% cats.each do |c| %>
      <li><%= link_to_roll(c) %></li>
    <% end %>
  </ol>
<% end %>
</div>
