<% if route.path_info == '/' %>
<div class="control">
  <label for="seed_input">Seed:</label>
  <input
    type="number" id="seed_input" name="seed"
    value="<%= route.seed %>"
    onclick="this.select()">

  <label for="details_input">Details:
    <input type="checkbox" id="details_input" name="details"
      <%= checked_details %>
      onchange="roll(this)">
  </label>

  <label for="count_input">Count:</label>
  <input
    type="number" id="count_input" name="count"
    min="1" max="999" value="<%= route.count %>"
    onclick="this.select()">

  <input type="submit" value="Roll">

  <label for="last_select">Last roll:</label>
  <select id="last_select" name="last" onchange="roll(this)">
    <option value="<%= route.last %>"></option>

    <optgroup label="Rare:">
      <% gacha.rare_cats.uniq(&:id).each do |cat| %>
        <option value="<%= cat.id %>"
          <%= selected_last(cat) %>><%= cat_name(cat) %></option>
      <% end %>
    </optgroup>

    <optgroup label="Super:">
      <% gacha.supa_cats.uniq(&:id).each do |cat| %>
        <option value="<%= cat.id %>"
          <%= selected_last(cat) %>><%= cat_name(cat) %></option>
      <% end %>
    </optgroup>

    <optgroup label="Uber:">
      <% gacha.uber_cats.uniq(&:id).each do |cat| %>
        <option value="<%= cat.id %>"
          <%= selected_last(cat) %>><%= cat_name(cat) %></option>
      <% end %>
    </optgroup>

    <optgroup label="Legendary:">
      <% gacha.legend_cats.uniq(&:id).each do |cat| %>
        <option value="<%= cat.id %>"
          <%= selected_last(cat) %>><%= cat_name(cat) %></option>
      <% end %>
    </optgroup>
  </select>
</div>
<% else %>
<%= hidden_inputs('seed', 'details', 'count', 'last') %>
<% end %>
