<div id="form">
  <form method="get" enctype="application/x-www-form-urlencoded">
    <%= erb :options %>
    <%= erb :events %>
    <%= erb :control %>
    <%= erb :find_cat if arg %>
  </form>
</div>
