<div id="form">
  <form method="get" enctype="application/x-www-form-urlencoded"
    onsubmit="onsubmit_seed()">
    <label for="seed_input">Seed:</label>
    <input
      type="text" id="seed_input" name="seed"
      value="<%= controller.seed %>"
      onclick="this.select()"/>

    <label for="show_seeds_input">Show seeds:</label>
    <input type="checkbox" id="show_seeds_input" name="show_seeds"
      <%= checked_show_seeds %>
      onchange="onchange_show_seeds(this)">

    <input type="hidden" id="count_input" name="count"
      value="<%= controller.count %>">
    <input type="hidden" id="event_input" name="event">
  </form>
</div>
