<div id="found">
  <% if arg[:found_cats].any? %>
    <p>Found cats:</p>
  <% end %>
  <ul>
    <% arg[:found_cats].each do |cat| %>
      <li>
        <span class="<%= cat.rarity_label %>">
          <%= link_to_roll(cat) %>
        </span>:
        <%= "#{cat.sequence}#{cat.track}" %>
      </li>
    <% end %>
  </ul>
</div>
