<ol>
  <li>If everything is correct, you'll get the <strong>seed</strong> number, and two links.</li>
  <li>The <em>first link</em> is using your starting seed for reference and debugging purpose, which shows the status <em>before</em> you rolled.</li>
  <li>The <em>second link</em> is using your last seed, which shows you the current status, <em>after</em> you rolled.</li>
  <li>If you didn't roll any <a href="#what-is-a-guaranteed-event">guaranteed events</a>, you start at <strong>1A</strong> in the <em>second link</em>.</li>
  <li>
    If you made a 11-rolls with a guaranteed event, or a 15-rolls (3+5+7) with step-up event:
    <ul>
      <li>
        Since you <em>didn't fill</em> your last <a href="#what-is-a-guaranteed-uber">guaranteed uber</a> in the form, we'll need to accommodate this. There are several ways to accommodate this:
        <ul>
          <li>
            If you don't care about the actual seed number, then you start at <strong>1B</strong> in the <em>second link</em>. If you want to know your actual seed number:
            <ol>
              <li>You can use the <em>second link</em>, which shows the status <em>after</em> you rolled, except the last guaranteed uber. Check the <strong>Details</strong> checkbox, and your actual seed number should be the first half of <strong>1A</strong> because a guaranteed uber counts as a half roll. You can copy and paste your actual seed number to the seed input field to update your position. If you did, you'll find that your new <strong>1A</strong> is exactly the same as the old <strong>1B</strong>.</li>
              <li>If you made a 11-rolls, you can also use the <em>first link</em>, which shows the status <em>before</em> you rolled, and click on the guaranteed uber link in <strong>1A</strong> showing <strong>-&gt; 11B</strong>, simulating your exact 11-rolls, leading to where you are now. You start at <strong>1A</strong> in the new page, which should be the same as the <strong>1B</strong> in the <em>second link</em>.</li>
            </ol>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ol>
