<ol>
  <li>If everything is correct, you'll get the <strong>seed</strong> number, and two links (or three links if you filled 10 cats).</li>
  <li>The <strong>first link</strong> is using your starting seed for reference and debugging purpose, which shows the status <em>before</em> you rolled.</li>
  <li>The <strong>second link</strong> is using your last seed, which shows the status <em>after</em> you rolled.</li>
  <li>If you didn't roll in <a href="#what-is-a-guaranteed-event">guaranteed events</a>, you start at <em>1A</em> in the <strong>second link</strong>.</li>
  <li>
    If you made 11-rolls with a <strong>guaranteed event</strong>, or 15-rolls (3+5+7) with a <strong>step-up event</strong>:
    <ul>
      <li>
        You start at <em>1A</em> in the <strong>third link</strong>. 1A in the third link is exactly the same as <em>1B</em> in the second link, because a guaranteed uber counts as a half roll, thus switching you to the other track.
      </li>
      <li>
        If you made 11-rolls, you can also use the <strong>first link</strong>, which shows the status <em>before</em> you rolled, and click on the guaranteed uber link in <strong>1A</strong> showing <strong>-&gt; 11B</strong>, simulating your exact 11-rolls, leading to where you are now. The new page should be exactly the same as the <strong>third link</strong>.
      </li>
    </ul>
  </li>
</ol>
