<label for="lang_select">Language:</label>
<select id="lang_select" name="lang" onchange="roll(this)">
  <option value="en" <%= selected_lang('en') %>>BCEN</option>
  <option value="tw" <%= selected_lang('tw') %>>BCTW</option>
  <option value="jp" <%= selected_lang('jp') %>>BCJP</option>
</select>
