<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type"
          content="application/xhtml+xml; charset=utf-8"/>
    <meta name="description"
          content="Rolling Battle Cats Gacha"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" href="asset/image/treasure.png"/>
    <title>Rolling Battle Cats Gacha</title>
    <style type="text/css">
      table { border-collapse: collapse; }
      table, th, td {
        border: 1px solid black;
        text-align: center;
      }
      .rare { background-color: white; }
      .ssr_fest { background-color: yellow; }
      .ssr { background-color: gold; }
      .uber_fest { background-color: salmon; }
      .uber { background-color: red; }
    </style>
    <script type="text/javascript">
      function onchange_event(option) {
        window.location.href='<%= uri_without_event %>&event='+option.value;
      }
    </script>
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>

    <div id="note">
      <ul>
        <li>Data was pulled from the app and
          <a href="https://ponos.s3.dualstack.ap-northeast-1.amazonaws.com/appli/battlecats/event_data/battlecatsen_production/gatya.tsv">event data</a>.</li>
        <li>Data was completely based on <a href="https://github.com/godfat/battle-cats-rolls/blob/master/build/7.1.0/cats.yaml">cats.yaml</a>.</li>
        <li>Clicking on the cat's name simulates rolling to that cat.</li>
        <li>Clicking on &#128062; leads to the cat data.</li>
        <li>Guaranteed cat will only show if the event has guaranteed cats.</li>
        <li>Track A or B is purely perspective. Rolling a guaranteed cat will swap the track, not jump. You're always on track A, and the other track is the alternative track.</li>
        <li>Step-up counts as 15 rolls by summing 3, 5, and 7.</li>
        <li>
          Always <span class="ssr">Super Rare</span>,
          <span class="ssr_fest">Super Rare</span> in Uberfest or Epicfest only,
          Always <span class="uber">Uber</span>,
          <span class="uber_fest">Uber</span> in Uberfest or Epicfest only,
        </li>
        <li>Tweak <code>count</code> in the URL to increase the number of rolls. Maximum 999.</li>
        <li>Server time is UTC. Event time isn't taken into account yet.</li>
      </ul>
    </div>

    <div id="footer">
      <a href="https://github.com/godfat/battle-cats-rolls">Source</a>
      /
      <a href="https://github.com/godfat/battle-cats-rolls/issues">Help</a>
      &copy;
      2018 Lin Jen-Shin (godfat)
    </div>
  </body>
</html>
