<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type"
          content="application/xhtml+xml; charset=utf-8"/>
    <meta name="description"
          content="Rolling Battle Cats Gacha"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" href="asset/image/treasure.png"/>
    <title>Rolling Battle Cats Gacha</title>
    <style type="text/css">
      table { border-collapse: collapse; }
      table, th, td {
        border: 1px solid black;
        text-align: center;
      }
      .rare { background-color: white; }
      .ssr_fest { background-color: yellow; }
      .ssr { background-color: gold; }
      .uber_fest { background-color: salmon; }
      .uber { background-color: red; }
      #seed_input { width: 10em; }
      #count_input { width: 3em; }
    </style>
    <script type="text/javascript">
      function roll(element) {
        element.form.submit();
      }
    </script>
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>

    <div id="footer">
      <a href="https://github.com/godfat/battle-cats-rolls">Source</a>
      /
      <a href="https://github.com/godfat/battle-cats-rolls/issues">Help</a>
      &copy;
      2018 Lin Jen-Shin (godfat)
    </div>
  </body>
</html>
