<div id="options">
  <%= erb :lang %>

  <label for="name_select">Name:</label>
  <select id="name_select" name="name" onchange="roll(this)">
    <option value="0" <%= selected_name(0) %>>Base</option>
    <option value="1" <%= selected_name(1) %>>Evolved</option>
    <option value="2" <%= selected_name(2) %>>True</option>
  </select>
</div>
