<div id="seed">
  <form method="get" enctype="application/x-www-form-urlencoded"
    onsubmit="onsubmit_seed()">
    Seed:
    <input
      type="text" id="seed_input" name="seed"
      value="<%= controller.seed %>"
      onclick="this.select()"/>
    <input type="hidden" id="count_input" name="count"
      value="<%= controller.count %>">
    <input type="hidden" id="event_input" name="event">
  </form>
</div>
