<p>
  <% if arg[:seed] %>
    <% if arg[:seed].zero? %>
      Unfortunately we didn't successfully find your seed. There could have
      several possible reasons:
      <ul>
        <li>There's a bug.</li>
        <li>You put the cats wrong, or you picked the wrong event.</li>
        <li>The formula changed and we didn't update the code yet.</li>
      </ul>
      Do you want to <a href="/seek">try again</a>?
    <% else %>
      Your current seed is:
      <a href="<%= "//#{web_host}/?seed=#{arg[:seed]}" %>"><%= arg[:seed] %></a>
    <% end %>
  <% elsif arg[:seek] %>
    <% if arg[:seek].started? %>
      Now seeking your seed...
    <% else %>
      You're <%= arg[:seek].position %> in the queue.
    <% end %>
    <script type="text/javascript">
      window.setTimeout(function(){ window.location.reload(true) }, 5000);
    </script>
  <% else %>
    Are you <a href="/seek">seeking</a> the seed?
  <% end %>
</p>
